<!DOCTYPE html>
<html lang="en">
<head>
  <title>LaPature - The Food Finder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
  body > .jumbotron {
    padding-top: 100px;
  }
  </style>
</head>

<body>
<!--Navbar-->
{{> navbar}}

<!-- Begin page content -->
<div class="jumbotron jumbotron-fluid container-fluid text-center">
  <div class="container">
    <h1 class="display-4">History</h1>
    <p class="lead">Your previous searches.</p>
  </div>
</div>

<div class="row container-fluid">
  <form action="/" method="post">
    <button class="btn btn-primary btn-lg" type="submit" formaction="/delete">Delete all records</button>
  </form>
  <br>
  <table class="table table-striped">
    {{#list items}}<tr><td>{{name}}</td><td>{{address}}</td><td><img src={{photo_reference}} width="200" height="200"></td></tr>{{/list}}
  </table>
</div>



</body>
</html>
